h1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#appbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav {
  background-color: #7EAB33;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}